<div class="fixed top-0 w-full bg-night justify-between flex items-center h-[150px] px-10">
  <div class="h-full py-10">
    <img class="h-full" src="./assets/logo.png">
  </div>
  <div class="flex justify-around w-[40%] text-day text-[20px]">
    <button *ngFor="let navButton of navButtons" (click)="navButton.clickHandler?.()"
            class="flex px-2.5">
      {{navButton.label}}
      <fa-icon [icon]="angleDown" *ngIf="navButton.submenu" class="text-[20px] text-day ml-5"></fa-icon>
    </button>
  </div>
  <div class="right-12 flex">
    <button (click)="navigateToCart('cart')">
      <fa-icon [icon]="cart" class="text-[22px] text-day"></fa-icon>
    </button>
  </div>
</div>
